albumentations==2.0.8
comet_ml==3.57.3
coremltools==9.0
Flask==3.1.3
GitPython==3.1.46
ipython==8.12.3
matplotlib==3.10.8
mss==10.1.0
nncf==3.0.0
numpy==2.4.4
onnx==1.21.0
onnxruntime==1.24.4
onnxslim==0.1.90
opencv_python==4.10.0.84
openvino==2026.0.0
packaging==26.0
paddle==1.3.0
pafy==0.5.5
pandas==3.0.1
Pillow==12.1.1
psutil==6.0.0
pycocotools==2.0.11
pytz==2024.1
PyYAML==6.0.3
Requests==2.33.1
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
tensorflow==2.21.0
tensorflowjs==4.22.0
tensorrt==10.16.0.72
tflite_runtime==2.14.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
torch==2.6.0
torchvision==0.21.0
tqdm==4.66.4
tritonclient==2.67.0
ultralytics==8.4.24
ultralytics_thop==2.0.18
x2paddle==1.6.0
